<div class="row">
    <aside class="col-sm-4">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1 text-center">Cuadrados Perfectos</h4>
                <form [formGroup]="form" (ngSubmit)="sendNumbers()">
                    <div class="form-group">
                        <label>Primer Numero</label>
                        <input name="" class="form-control" formControlName="numberOne" [(ngModel)]="firstNumber">
                        <div *ngIf="form.get('numberOne').errors?.required && form.get('numberOne').touched" class="error">
                            este campo es requerido
                        </div>
                        <div *ngIf="form.get('numberOne').errors?.pattern" class="error">
                            este campo acepta solo numeros enteros
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Segundo Numero</label>
                        <input class="form-control" formControlName="numberTwo">
                        <div *ngIf="form.get('numberTwo').errors?.required && form.get('numberTwo').touched" class="error">
                            este campo es requerido
                        </div>
                        <div *ngIf="form.get('numberTwo').errors?.pattern" class="error">
                            este campo acepta solo numeros enteros
                        </div>
                        <div *ngIf="form.get('numberTwo').errors?.numRange && form.get('numberTwo').value != '' " class="error">
                            numero 2 debe ser mayor que el numero 1
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalSquare" [disabled]="!form.valid"> Calcular  </button>
                    </div>
                </form>
            </article>
        </div>
    </aside>
</div>